@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --font: "Work Sans", sans-serif;
  --primary: rgb(207, 13, 62);
  --secondary: #fff;
  --tertiary: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
}

h1 {
  text-align: center;
  margin: 2%;
}
